<% layout("/layouts/boilerPlate")%>

    <body>
        <div class="row">
            <div class="col-8 offset-3">
                <h1>listing details:</h1>
            </div>

            <div class="card col-6 offset-3">
                <img src="<%= listing.image.url %>" class="card-img-top show-image" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        <b>
                            <%=listing.title %>
                        </b> <br>
                        <%= listing.description %> <br>
                            &#x20B9;<%= listing.price.toLocaleString("en-IN") %><br>
                                <%=listing.location %><br>
                                    <%= listing.country %>

                    </p>
                    </h5>
                </div>
            </div>




        </div>
        <div class="btns"><a href="/listings/<%= listing._id %>/edit" class="btn add-btn col-1 offset-3"> Edit </a>
            <form action="/listings/<%= listing._id %>?_method=delete" method="post">
                <button class="btn btn-dark offset-5">Delete</button>
            </form>
        </div>



    </body>